{% block sidebar_links %}
<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.root')}}" href="{{url_for('main.root')}}">Status</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.basic_settings')}}" href="{{url_for('main.basic_settings')}}">Settings</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.files')}}" href="{{url_for('main.files')}}">Files</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.acls')}}" href="{{url_for('main.acls')}}">Access Control Lists</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.access_directives')}}" href="{{url_for('main.access_directives')}}">Directives</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.get_config')}}" href="{{url_for('main.get_config')}}">Config</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.users')}}" href="{{url_for('main.users')}}">Users</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.logs')}}" href="{{url_for('main.logs')}}">Logs</a></li>
    <li class="nav-item p-1 text-center">
    <form action="{{url_for('main.apply_config')}}" method="post"><input class="btn btn-sm btn-success {{'active-menu' if request.path == url_for('main.apply_config')}}" type="submit" value="Apply Configuration"></form>
    </li>
</ul>
{% endblock sidebar_links %}
