{% block sidebar_links %}
<ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.root')}}" href="{{url_for('main.root')}}">Status</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.basic_settings')}}" href="{{url_for('main.basic_settings')}}">Settings</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.files')}}" href="{{url_for('main.files')}}">Files</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.acls')}}" href="{{url_for('main.acls')}}">Access Control Lists</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.root')}}" href="#">Directives</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.root')}}" href="#">Users</a></li>
    <li class="nav-item"><a class="nav-link {{'active-menu' if request.path == url_for('main.root')}}" href="#">Logs</a></li>
</ul>
{% endblock sidebar_links %}
