{% extends "base.html.j2" %}

{% block app %}
<div class="container">
    <div class="row border rounded padding-1 m-2" id="acl-editor">

    </div>
</div>
{% endblock app %}

{% block title %}
{{ super() }}: Access Control Lists
{% endblock title %}

{% block javascripts %}
{{ super() }}
<script>
    const acl_types = JSON.parse("{{ types }}");
</script>
<script defer src="/static/dist/aclEditor.bundle.js"></script>
{% endblock javascripts %}