<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
    Squeezy{% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" href="/static/dist/main.css">
    {% endblock styles %}
    {% block javascripts %}
    <script defer src="/static/dist/main.bundle.js"></script>
    {% endblock javascripts %}
{% endblock head %}
</head>
<body>
    <div class="container-fluid">
        <div class="navbar-squeezy">
            <p id="title" class="text-center">
                <a class="navbar-brand" href="{{ url_for('main.root')}}">Squeezy</a>
            </p>
            <div id="logout" class="border rounded">
                <div class="text-end">
                    {% if user %}
                    {{ user.email }} <a class="btn btn-sm btn-danger" href="{{ url_for('main.logout')}}">Logout</a>
                    {% endif %}
                </div>
            </div>
            <nav class="navbar sidebar">
                {% block sidebar %}
                {% include "partials/sidebar.html.j2" %}
                {% endblock sidebar %}
            </nav>
        </div>
        <div class="row">
            <div class="col-12">
                {% block app %}
                {% endblock app %}
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="list-unstyled flashes border rounded alert alert-secondary p-2">    
                {% for message in messages %}
                    <li class="alert alert-danger mb-1">{{ message }}</li>
                {% endfor %}
            </ul>        
        {% endif %}
        {% endwith %}
    </div>
</body>
</html>