{% extends "base.html.j2" %}

{% block app %}
<div class="container">
    <div class="row border rounded padding-1 m-2" id="directive-editor">

    </div>
</div>
{% endblock app %}

{% block title %}
{{ super() }}: Access Directives
{% endblock title %}

{% block javascripts %}
{{ super() }}
<script>
    const directive_types = JSON.parse("{{ types }}");
</script>
<script defer src="/static/dist/directiveEditor.bundle.js"></script>
{% endblock javascripts %}