{% extends "base.html.j2" %}

{% block app %}
<div class="container border rounded mt-2">
    <div class="row m-4">
        <form class="container-fluid p-2" action="{{url_for('main.files')}}" method="post" enctype="multipart/form-data">
                {{ form.csrf_token }}
                    <div class="row p-2 text-center">
                        <h1>Files</h1>
                    </div>
                    <div class="row text-center mb-1">
                            <input class="btn btn-sm btn-secondary" type="button" value="New File" data-bs-toggle="collapse" data-bs-target="#collapseNewFile">
                    </div>
                    <div class="row align-items-end p-2 collapse  border rounded" id="collapseNewFile">
                        <div class="col">
                            {{ form.label.label(class="form-label") }}
                            {{ form.label(class="form-control", value="untitled") }}
                            {% if form.label.errors %}
                                <ul class="rounded danger list-unstyled">
                                {% for error in form.label.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ form.file.label(class="form-label") }}
                            {{ form.file(class="form-control") }}
                            {% if form.file.errors %}
                                <ul class="rounded danger list-unstyled">
                                {% for error in form.file.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                        <div class="col text-center">
                            <input class="btn btn-primary" type="submit" value="Upload">
                        </div>
                    </div>
        </form>
    </div>
    <div class="row p-2">
        <table class="table table-striped table-bordered">
            <thead>
                <th>Label</th>
                <th>File Name</th>
                <th>SHA-256 Hash</th>
                <th></th>
                <th></th>
            </thead>
            <tbody>
            {% for file in files %}
                <tr>
                    <td>{{ file.label }}</td>
                    <td>{{ file.original_filename }}</td>
                    <td>{{ file.sha256 }}</td>
                    <td><a href="{{url_for('main.file', id=file.id)}}" class="btn btn-sm btn-primary">View</a></td>
                    <td><form action="{{url_for('main.file_delete', id=file.id)}}" method="post"><button type="submit" class="btn btn-sm btn-danger">Delete</button></form></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock app %}

{% block title %}
{{ super() }}: Files
{% endblock title %}