{% extends "base.html.j2" %}

{% block app %}
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-3 align-self-center text-center">
            <h1 class="display-1">Hello World!</h1>
        </div>
    </div>
</div>
{% endblock app %}

{% block title %}
Hello World!
{% endblock title %}