{% extends "base.html.j2" %}

{% block app %}
<div class="container">
    <div class="row align-items-center justify-content-center">
        <h1>Logs</h1>
    </div>
    <div class="row" id="status-widget-block">
        Work in progress
    </div>
</div>
{% endblock app %}

{% block title %}
{{ super() }}: Status
{% endblock title %}